on:
  push: {}
  pull_request: {}
  workflow_dispatch: {}

name: Test

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: typos check
        run: nix develop -c typos

  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        target: [native, x86-linux-musl]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run tests (${{ matrix.target }})
        run: |
          target_arg=""
          if [ "${{ matrix.target }}" != "native" ]; then
            target_arg="-Dtarget=${{ matrix.target }} -fqemu"
          fi
          nix develop -c zig build test $target_arg

  examples:
    strategy:
      matrix:
        os: [ubuntu-latest]
        target: [native, x86-linux-musl]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run examples (${{ matrix.target }})
        run: |
          target_arg=""
          if [ "${{ matrix.target }}" != "native" ]; then
            target_arg="-Dtarget=${{ matrix.target }} -fqemu"
          fi
          for dir in examples/*/; do
            echo "Running $dir"
            nix develop -c zig build run --build-file "$dir/build.zig" $target_arg
          done
